@charset "UTF-8";
		#container{
			width: 900px
			margin: auto;
		}
		#header{
			background-color: silver;
			color: white;
			height: 200px;
		}
		img{
			width: 900px;
		}
		#sidebar1{
			background: brown;
			width: 200px;
			float: left;
		}
		#contents{
			background: blue;
			width: 480px;
			float: left;
		}
		#sidebar2{
			background: red;
			width: 200px;
			float: right;
		}
		#footer{
			background: green;
			height: 200px;
			clear: both;/*float효과 없애기*/
		}
		#nav{
			background: orange;
		}
		.button{
			/*텍스트장식없음*/
			text-decoration: none;
			/*글자중앙정렬*/
			text-align: center;
			/*폰트14 나눔고딕*/
			font-size: 14px;
			font-family: "나눔고딕";
			padding: 10px 20px;

			/*테두리 1px 실선*/
			border: 1px solid #f8e098;
			background: #f0ece0;
		}
		/*마우스가 올라왔을때*/
		.button:hover{
			background: yellow;
		}
		/*클릭하면*/
		.button:ACTIVE{
			background: red;
			color: blue;
			position: relative;
			top:2px;
		}